/* line 1, ../components/sass/style.scss */
#ticketmodal {
  margin: 0;
  transition: all 0.5s ease-in;
  height: 0px;
  overflow: hidden; }
  /* line 6, ../components/sass/style.scss */
  #ticketmodal.open {
    height: inherit;
    padding: 10px; }
