/* line 1, ../components/sass/style.scss */
#ticketmodal {
  margin: 0;
  transition: all 0.5s ease-in;
  height: 0px;
  overflow: hidden;
  background-color: #EFF2F5; }
  /* line 7, ../components/sass/style.scss */
  #ticketmodal.open {
    height: inherit;
    padding: 10px; }
